@font-face {
  font-family: "iconfont"; /* Project id 2979922 */
  src: url('~@/static/font-icon/iconfont.woff2?t=1638446513929') format('woff2'),
       url('~@/static/font-icon/iconfont.woff?t=1638446513929') format('woff'),
       url('~@/static/font-icon/iconfont.ttf?t=1638446513929') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-24gl-phoneLoudspeaker:before {
  content: "\e94f";
}

.icon-saoma:before {
  content: "\e749";
}

